#mtable {cellpadding:0; cellspacing:0; width:100%;}
.melements {text-align: center; vertical-align: middle; background: #f5e8d9;}
.mcolumns{text-align: center; vertical-align: middle; background: #ffdeb7;}
#body{background: #f5e8d9; padding: 10px; width: 50%;}